<div class="banner"></div>
<div class="application">
  <div class="form-container">
    <h1>Mentee Application Form</h1>
  </div>
    <%= simple_form_for @mentee do |f| %>
      <div class="form-container">
        <%= f.input :email,
                  label: 'Email',
                  required: true,
                  autofocus: true %>
      </div>

      <div class="form-container">
        <h3>Personal information</h3>
        <p>Please provide your personal information and what you are doing today.</p>
      </div>


      <div class="form-container">
        <%= f.input :name,
                    label: 'Name',
                    required: true,
                    autofocus: true %>
      </div>

      <div class="form-container">
        <%= f.input :phone_number,
                  label: 'Phone number',
                  required: true,
                  autofocus: true %>
      </div>

      <div class="form-container">
        <%= f.input :job,
                  label: 'What is your current job and position?',
                  required: true,
                  autofocus: true %>
      </div>

      <div class="form-container">
        <%= f.input :industry,
                  label: 'In which industry are you currently working?',
                  as: :radio_buttons,
                  collection: ['Agriculture, Forestry, Mining', 'Industials(Manufacturing,
                   Construction, etc.)', 'Energy, Utilities', 'Transport, Logistics',
                   'Media, Creative Industries', 'Data Infrastructure, Telecom',
                   'Healthcare', 'Education', 'Life Sciences', 'Retail / ecommerce',
                   'Hospitality, Food, Leisure Travel', 'Public Service, Social Service',
                   'Financial Services', 'Technology', 'Other'],
                  required: true,
                  autofocus: true %>
      </div>

      <div class="form-container">
        <%= f.input :experience,
                  label: 'How many years of work experience do you have?',
                  autofocus: true %>
      </div>
      <div class="form-container">
        <%= f.input :profile,
                  label: 'Please share your LinkedIn Profile with us:',
                  autofocus: true %>
      </div>
      <div class="buttons">
        <%= link_to 'Back', root_path %>
        <%= f.submit 'Forward'%>
      </div>
    <% end %>
  </div>
</div>
