<%= javascript_pack_tag 'form_logic.js' %>

<div class="banner"></div>
<div class="application">
  <div class="form-container">
    <h1>Mentee Application Form</h1>
  </div>
    <%= simple_form_for @mentee do |f| %>
<% raise %>
      <div class="tab">

        <div class="form-container">
          <%= f.input :email,
                    label: 'Email',
                    required: true,
                    autofocus: true %>
        </div>

        <div class="form-container">
          <h3>Personal information</h3>
          <p>Please provide your personal information and what you are doing today.</p>
        </div>


        <div class="form-container">
          <%= f.input :name,
                      label: 'Name',
                      required: true,
                      autofocus: true %>
        </div>

        <div class="form-container">
          <%= f.input :phone_number,
                    label: 'Phone number',
                    required: true,
                    autofocus: true %>
        </div>

        <div class="form-container">
          <%= f.input :job,
                    label: 'What is your current job and position?',
                    required: true,
                    autofocus: true %>
        </div>

        <div class="form-container">
          <%= f.input :industry,
                    label: 'In which industry are you currently working?',
                    as: :radio_buttons,
                    collection: ['Agriculture, Forestry, Mining', 'Industials(Manufacturing,
                     Construction, etc.)', 'Energy, Utilities', 'Transport, Logistics',
                     'Media, Creative Industries', 'Data Infrastructure, Telecom',
                     'Healthcare', 'Education', 'Life Sciences', 'Retail / ecommerce',
                     'Hospitality, Food, Leisure Travel', 'Public Service, Social Service',
                     'Financial Services', 'Technology', 'Other'],
                    required: true,
                    autofocus: true %>
        </div>

        <div class="form-container">
          <%= f.input :experience,
                    label: 'How many years of work experience do you have?',
                    autofocus: true %>
        </div>
        <div class="form-container">
          <%= f.input :profile,
                    label: 'Please share your LinkedIn Profile with us:',
                    autofocus: true %>
        </div>
      </div>
      <div class="tab">
        <div class="form-container">
          <h3>Tell us why you are looking for a mentor</h3>
          <p>What are the goals you would like to reach with the help of a mentor</p>
        </div>

        <div class="form-container">
          <%= f.input :reason,
                    label: 'In which industry are you currently working?',
                    as: :radio_buttons,
                    collection: ['Next career step', 'Change jobs', 'Change industry',
                      'Not sure where I want to go in my career', 'Other'],
                    required: true,
                    autofocus: true %>
        </div>

        <div class="form-container">
          <h3>Why do you think a mentor could help you today?</h3>
          <%= f.input :help,
                    autofocus: true,
                    required: true %>
        </div>

        <div class="form-container">
          <%= f.input :expectations,
                    label: 'What do you expect from a mentor?',
                    autofocus: true,
                    required: true %>
        </div>
      </div>

      <div class="tab">
        <div class="form-container">
          <h3>Mentor preference criteria</h3>
          <p>Based on your previous answers and your expectation, let us know if there are any other criterion you would like us to pay attention to when matching you with a mentor.</p>
        </div>
        <div class="form-container">
          <%= f.input :specific_area,
                    label: 'Is there any specific area you wish your mentor has experience with?',
                    autofocus: true,
                    required: true %>
        </div>
        <div class="form-container">
        <%= f.input :mentors_industry,
                    label: 'Which industry should your mentor come from?',
                    as: :radio_buttons,
                    collection: ['Agriculture, Forestry, Mining', 'Industials(Manufacturing,
                     Construction, etc.)', 'Energy, Utilities', 'Transport, Logistics',
                     'Media, Creative Industries', 'Data Infrastructure, Telecom',
                     'Healthcare', 'Education', 'Life Sciences', 'Retail / ecommerce',
                     'Hospitality, Food, Leisure Travel', 'Public Service, Social Service',
                     'Financial Services', 'Technology', 'Other'],
                    required: true,
                    autofocus: true %>
        </div>
        <div class="form-container">
        <%= f.input :language,
                    label: 'Do you have any preference in language your mentor should speak?',
                    hint: 'Multiple selection allowed',
                    as: :check_boxes,
                    collection: ['German', 'English', 'French',
                      'Italian', 'Other'],
                    required: true %>
        </div>
        <div class="form-container">
        <%= f.input :gender,
                    label: 'Do you prefer a female or a male mentor?',
                    as: :radio_buttons,
                    collection: ['Female', 'Male', 'Does not matter'],
                    required: true %>
        </div>
        <div class="form-container">
        <%= f.input :time,
                    label: 'How often would you like to talk to your mentor?',
                    as: :radio_buttons,
                    collection: ['Once a week', 'Once a month', 'On irregular basis', 'Other'] %>
        </div>
      </div>

      <div class="buttons">
        <%= link_to 'Back', root_path %>
        <%= f.submit 'Forward' %>

        <div style="overflow:auto;" id="nextprevious">
          <div style="float:right;"> <button type="button" id="prevBtn">Previous</button> <button type="button" id="nextBtn">Next</button> </div>
        </div>
      </div>

    <% end %>
  </div>
</div>
